/* Taken from https://www.w3schools.com/howto/howto_js_snackbar.asp */

.snackbar {
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #222; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    user-select: none;

    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.snackbar.danger {
    background-color: #E53935;
}

.snackbar.warning {
    color: black;
    background-color: #FFB300;
}

.snackbar.success {
    background-color: #43A047;
}

.snackbar.info {
    background-color: #0288D1;
}

.snackbar.hide {
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
