html * {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

body,
html,
#webgl {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

body {
    background-color: #212121;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #EFEFEF;
    font-family: 'Lato', sans-serif;
    cursor: default;
    user-select: none;
    overflow: hidden;
}

#overlay .overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 101%;
    background-color: rgb(51, 51, 51);
}

#overlay #progress-container {
    width: 50%;
    height: 48px;
    display: none;
}

#progress-container .percentage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

#progress-container .count-container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: right;
}
#progress-container .count-container .count {
    position: absolute;
    width: 64px;
    top: 120%;
    transform: translate(-100%, 0%);
}

#progress-bar {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #2BB52D;
    transition: width 0.25s ease;
}

#progress-container .loading-text {
    position: absolute;
    top: -200%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 2.5em;
}

#overlay #pause-container {
    background-color: rgba(51, 51, 51, 0.6);
    cursor: pointer;
    display: none;
}

#pause-container .text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

#pause-container .text .title {
    font-size: 2.5em;
    text-shadow:
        -2px -2px 0 #000,
         0   -2px 0 #000,
         2px -2px 0 #000,
         2px  0   0 #000,
         2px  2px 0 #000,
         0    2px 0 #000,
        -2px  2px 0 #000,
        -2px  0   0 #000;
}

#pause-container .text .subtitle {
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

#startmenu-container,
#startmenu-container .controls {
    display: none;
}

#startmenu-container .contents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#startmenu-container .btn {
    font-size: 1.5em;
}

#startmenu-container input[name='nickname'] {
    font-size: 1.5em;
    width: 250px;
}

#startmenu-container .controls .keybind {
    cursor: pointer;
}

#startmenu-container .controls td {
    width: 100px;
    height: 100px;
    padding: 0px;
    position: relative;
}

#startmenu-container .controls .keybind + span {
    pointer-events: none;
    font-size: 20px;
    position: absolute;
    width: 100px;

    top: 35px;
    left: 0px;
}

#modal-keybind {
    font-family: 'Lato', sans-serif;
    cursor: default;
    user-select: none;
}

#crosshair,
#hitmarker {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#kill-feed {
    position: absolute;
    width: 300px;
    top: 32px;
    right: 32px;
    text-align: right;
}

#kill-feed .entry {
    display: inline-block;
    float: right;
    clear: right;
    height: 24px;
    padding: 2px 8px;
    border-radius: 4px;
    background-color: rgba(20, 20, 20, 0.7);
}

#kill-feed .entry img {
    height: 14px;
    vertical-align: middle;
    margin: 0px 12px;
    opacity: 0.9;
}

#kill-feed .entry .blue {
    color: #0288D1;
    opacity: 0.9;
}

#kill-feed .entry .red {
    color: #E53935;
    opacity: 0.9;
}

#overlay #scoreboard {
    background-color: rgba(51, 51, 51, 0.6);
    display: none;
}

#scoreboard .contents {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scoreboard table {
    border-collapse: collapse;
    float: left;
    background-color: rgba(20, 20, 20, 0.7);
    width: calc(50% - 15px);
}

#scoreboard table.blue {
    margin-right: 15px;
}

#scoreboard table.red {
    margin-left: 15px;
}

#scoreboard .offset {
    width: 15%;
    float: left;
}

#scoreboard .tables {
    width: 70%;
    float: left;
}

#scoreboard table td {
    padding: 4px 8px;
    font-size: 1.2em;
}

#scoreboard table tbody td:first-child {
    text-align: left;
}

#scoreboard table thead tr td {
    font-size: 1.4em;
}

#scoreboard table.red thead tr td {
    background-color: rgba(229, 57, 53, 0.8);
}

#scoreboard table.blue thead tr td {
    background-color: rgba(2, 136, 209, 0.8);
}

#scoreboard table.red tr.me td {
    background-color: rgba(229, 57, 53, 0.2);
}

#scoreboard table.blue tr.me td {
    background-color: rgba(2, 136, 209, 0.2);
}

#score {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 144px;
    height: 48px;
    transform: translate(-50%, 0%);
    line-height: 48px;
    text-align: center;
    display: none;
}

#score .score,
#score .time {
    width: 33%;
    height: 100%;
}

#score .score.blue {
    float: left;
    background-color: rgba(2, 136, 209, 0.6);
}

#score .time {
    float: left;
    background-color: rgba(20, 20, 20, 0.6);
}

#score .score.red {
    float: left;
    background-color: rgba(229, 57, 53, 0.6);
}

#overlay #death-screen {
    background-color: rgba(51, 51, 51, 0.6);
    display: none;
}

#death-screen .text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

#overlay #game-end {
    background: none;
    display: none;
}

#game-end .text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

#game-end .team.blue {
    color: #0288D1;
}

#game-end .team.red {
    color: #E53935;
}

#overlay #health {
    background-color: rgba(255, 136, 132, 0.4);
    border-radius: 4px;
    width: 30%;
    height: 24px;
    top: 90%;
    display: none;
}

#health .health-bar {
    position: absolute;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 165, 21, 0.5);
    transition: width 0.25s ease;
}

#overlay #scoreboard #ping {
    position: absolute;
    top: 16px;
    left: 16px;
}

#overlay #log {
    background-color: rgba(20, 20, 20, 0.6);
    width: 350px;
    height: 100px;
    position: absolute;
    left: 16px;
    bottom: 16px;
    padding: 8px;
    overflow-y: hidden;
    display: none;
}

#log .blue {
    color: #0288D1;
}

#log .red {
    color: #E53935;
}

#connection-lost {
    display: none;
}

#connection-lost .text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}

#damagescreen {
    opacity: 0.4;
    width: 100%;
    height: 100%;
    display: none;
}
